:root {
    --primary: #1e90ff;
    --secondary: #efefef;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.list-group-item {
    border: 0 !important;
    box-shadow: 2px 15px 10px -21px rgba(0, 0, 0, 0.9) inset;
    padding: 15px 15px;
    font-size: 20px;
}

/* .label {
    margin-top: -2px !important;
} */

a {
    text-decoration: none;
    color: rgb(94, 92, 92);
}

.link {
    text-decoration: none;
    color: rgb(94, 92, 92);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.link:hover {
    color: rgb(94, 92, 92);
}

.card-hover {
    cursor: pointer;
    transition: 0.4s;
}

.card-hover:hover {
    transform: translateY(-5px);
}

.active {
    background-color: rgb(150, 215, 245) !important;
}

.objectfit-cover {
    width: 120px;
    height: 120px;
    object-fit: cover !important;
}

.pointer {
    cursor: pointer;
}
